<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home page</title>
    <link rel="stylesheet" href="css/styles.css">
</head>
<body>
    <h1>#13 - Template view engine</h1>
    <h1>Hello world with view engine</h1>
    <h2>Message from app.controller: <%= message %></h2>
    <img src="images/meow-coding.webp"/>
</body>
</html>